<!DOCTYPE html>
<html lang="eng-GB">
<head>
	<meta charset="utf-8">
	<title>Catalog</title>
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Udacity Catalog project">
	<meta name="author" content="Christopher Berdahl">
	<!-- Styles -->
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css')}}" media="screen">
</head>
<body>

	{% include 'header.html' %}

	<main>

	<!-- child template -->
	{% block content %}{% endblock %}

	</main>
</body>
</html>