{% extends "_base.html" %}

{% block content %}
<section class="main-inner">
  <form action="{{ url_for('main.item_edit', category=category, item=editItem.name) }}" method="POST" class="flex">
    <div class="main-buttons">
      <a href="{{ url_for('main.info_item', category=category, item=editItem.name) }}" class="button cancel">Cancel</a>
      <button type="submit" class="button create">Edit</button>
    </div>
    <label class="input-label">Title</label>
    <input type="text" name="name" value="{{ editItem.name }}" class="input-oneline">
    <label class="input-label">Description</label>
    <textarea name="description" class="input-multiline">{{ editItem.description }}</textarea>
    <label class=input-label>Category</label>
    <select name="cat_select" class="input-dropdown">
      {% if categories != [] %}
        {% for cat in categories %}
          {% if cat.name == category %}
            <option value="{{ cat.name }}" selected="selected">{{ cat.name }}</option>
          {% else %}
            <option value="{{ cat.name }}">{{ cat.name }}</option>
          {% endif %}
        {% endfor %}
      {% endif %}
    </select>
  </form>

</section>
{% endblock %}