{% extends "_base.html" %}

{% block content %}
<section class="main-inner">
  <form action="{{ url_for('main.item_delete', category=category, item=item) }}" method="POST" class="flex">
    <div class="main-buttons">
      <a href="{{ url_for('main.list_items', category=category) }}" class="button cancel">Cancel</a>
      <button type="submit" class="button create">Delete</button>
    </div>
    <label class="input-label">Delete Item</label>
    <input type="text" name="item" value="{{ item }}" class="input-oneline" readonly>
  </form>

</section>
{% endblock %}